* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: rgba(0, 0, 0, 0.409);
  font-family: sans-serif;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.7);
}

.wrapper {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  box-shadow: 0 20px 32px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (max-width: 699px) {
  .wrapper {
    flex-direction: column;
  }
}

.description {
  background: #e0d497;
  width: 40%;
  padding: 30px;
}

@media (max-width: 899px) {
  .description {
    width: 50%;
  }
}

@media (max-width: 699px) {
  .description {
    width: 100%;
  }
}

.description .description-wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.description .description-wrapper .description-item {
  border-bottom: 2px solid;
  padding: 50px 0;
}

.description .description-wrapper .description-item p,
.description .description-wrapper .description-item ul {
  font-size: 18px;
}

.details {
  width: 60%;
  background: whitesmoke;
}

@media (max-width: 899px) {
  .details {
    width: 50%;
  }
}

@media (max-width: 699px) {
  .details {
    width: 100%;
  }
}

.avatar {
  height: 300px;
  width: 300px;
  background: url("../assets/images/15919717061.jpg");
  background-size: cover;
  margin: 0 auto;
  border-radius: 50%;
}

@media (max-width: 699px) {
  .avatar {
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 600px) {
  .avatar {
    height: 200px;
    width: 200px;
  }
}

h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts-list li a {
  display: flex;
  height: 30px;
  align-items: center;
  font-size: 18px;
  color: black;
}

.contacts-list li a:hover {
  opacity: 0.8;
}

.contacts-list li a .contact-icon {
  width: 30px;
  margin-right: 20px;
  opacity: 0.7;
}

@media (max-width: 370px) {
  .contacts-list li a.github-link {
    word-wrap: break-word;
    word-break: break-all;
  }
}

.skills-list {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills-list li {
  display: flex;
}

.skills-list li .skill-item {
  width: 40%;
}

.skills-list li .skill-progress {
  height: 22px;
  width: 60%;
  background: linear-gradient(to right, white 58%, #f1f1f1 80%, #e1e1e1 100%, #f6f6f6 100%, #e1e1e1 100%);
  border: 1px solid;
  border-radius: 2px;
}

.skills-list li .skill-progress .progress-bar {
  border-radius: 1px 0 0 1px;
  background: grey;
  height: 100%;
}

.skills-list li .skill-progress .progress-bar:hover.high {
  background: #029c02;
}

.skills-list li .skill-progress .progress-bar:hover.medium {
  background: #e2b915;
}

.skills-list li .skill-progress .progress-bar:hover.low {
  background: #d11111;
}

.title {
  margin: 30px 0;
  padding: 50px 0;
  color: #e0d497;
  background: rgba(0, 0, 0, 0.7);
  height: 300px;
}

@media (max-width: 699px) {
  .title {
    margin: 0;
    padding: 50px 0;
    color: black;
    background: whitesmoke;
    height: auto;
  }
}

h1 {
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 699px) {
  h1 {
    opacity: 0.8;
    font-size: 40px;
  }
}

h2 {
  font-size: 30px;
  margin-top: 30px;
  letter-spacing: 3px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 699px) {
  h2 {
    opacity: 0.7;
    font-size: 30px;
  }
}

.details-item {
  padding: 30px;
}

.details-item h3 {
  border-bottom: 2px solid;
}

.education {
  border-left: 4px solid;
  padding: 0 20px;
  margin-left: 30px;
}

.education .education-item {
  margin: 30px 0;
}

.education .education-item .education-title {
  position: relative;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
}

.education .education-item .education-title::before {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: black;
  top: 6px;
  left: -28px;
  position: absolute;
}

.education .education-item .education-date {
  margin: 10px 0;
}

.education .education-item .education-text {
  font-size: 18px;
}

.projects {
  padding: 20px 0;
  margin-left: 87px;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.projects .project-item a {
  position: relative;
  height: 30px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
}

.projects .project-item a:hover {
  opacity: 0.8;
}

.projects .project-item a::before {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: black;
  top: 5px;
  left: -60px;
  position: absolute;
}

.languages {
  padding-left: 20px;
}

.languages li {
  margin-bottom: 15px;
  font-size: 20px;
  letter-spacing: 1px;
}

.languages li span {
  font-weight: 600;
  text-decoration: underline;
}
