* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: Roboto;
  src: url("../assets/fonts/Roboto/Roboto-Italic.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-style: italic;
  font-weight: 700;
  font-family: Roboto;
  src: url("../assets/fonts/Roboto/Roboto-BoldItalic.ttf");
}

body {
  background: rgba(0, 0, 0, 0.409);
  font-family: Roboto, sans-serif;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.7);
}

* {
  transition: 0.2s ease-in;
}

.wrapper {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  box-shadow: 0 20px 32px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (max-width: 699px) {
  .wrapper {
    flex-direction: column;
  }
}

.description {
  background: #e0d497;
  width: 40%;
  padding: 30px;
  position: relative;
}

@media (max-width: 899px) {
  .description {
    width: 50%;
  }
}

@media (max-width: 699px) {
  .description {
    width: 100%;
  }
}

.description .description-wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.description .description-wrapper .description-item {
  border-bottom: 2px solid;
  padding: 50px 0;
}

.description .description-wrapper .description-item p,
.description .description-wrapper .description-item ul {
  font-size: 18px;
}

.description .description-wrapper .description-item p {
  line-height: 1.4;
}

.details {
  width: 60%;
  background: whitesmoke;
}

@media (max-width: 899px) {
  .details {
    width: 50%;
  }
}

@media (max-width: 699px) {
  .details {
    width: 100%;
  }
}

.avatar {
  height: 250px;
  width: 250px;
  background: url("../assets/images/photo-cv-cut.jpg") center/cover;
  margin: 25px auto;
  border-radius: 50%;
}

@media (max-width: 360px) {
  .avatar {
    height: 200px;
    width: 200px;
  }
}

h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  cursor: default;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts-list li a {
  display: flex;
  height: 30px;
  align-items: center;
  font-size: 18px;
  color: black;
}

.contacts-list li a:hover {
  opacity: 0.8;
}

.contacts-list li a .contact-icon {
  width: 30px;
  margin-right: 20px;
  opacity: 0.7;
}

@media (max-width: 370px) {
  .contacts-list li a.github-link {
    word-wrap: break-word;
    word-break: break-all;
  }
}

.skills-list {
  font-size: 18px;
  margin: 0 30px;
}

.skills-list .skill-item {
  background: grey;
  margin: 10px;
  padding: 4px 8px;
  line-height: 2.5;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;
}

.skills-list .skill-item:hover {
  color: whitesmoke;
}

.title {
  margin: 30px 0;
  padding: 50px 0;
  color: #e0d497;
  background: rgba(0, 0, 0, 0.7);
  height: 300px;
}

@media (max-width: 699px) {
  .title {
    margin: 0;
    padding: 50px 0;
    color: black;
    background: whitesmoke;
    height: auto;
  }
}

h1 {
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 699px) {
  h1 {
    opacity: 0.8;
    font-size: 40px;
  }
}

h2 {
  font-size: 30px;
  margin-top: 30px;
  letter-spacing: 3px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 699px) {
  h2 {
    opacity: 0.7;
    font-size: 30px;
  }
}

.details-item {
  padding: 30px;
}

.details-item h3 {
  border-bottom: 2px solid;
}

.education {
  border-left: 4px solid;
  padding: 0 20px;
  margin-left: 30px;
}

.education .education-item {
  margin: 50px 0;
}

.education .education-item .education-title,
.education .education-item .education-more {
  position: relative;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 700;
}

.education .education-item .education-title::before,
.education .education-item .education-more::before {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: black;
  top: 6px;
  left: -28px;
  position: absolute;
}

.education .education-item .education-date {
  margin: 10px 0;
}

.education .education-item .education-description {
  font-size: 18px;
}

.projects {
  padding: 20px 0;
  margin-left: 87px;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.projects .project-item a {
  position: relative;
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
  display: flex;
  gap: 35px;
  height: fit-content;
}

@media (max-width: 899px) {
  .projects .project-item a {
    flex-direction: column;
    gap: 7px;
  }
}

.projects .project-item a .project-description {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
}

@media (max-width: 899px) {
  .projects .project-item a .project-description {
    padding-left: 5px;
  }
}

.projects .project-item a .project-description::before {
  content: "-";
  left: -12px;
  position: absolute;
}

@media (max-width: 899px) {
  .projects .project-item a .project-description::before {
    content: "";
  }
}

.projects .project-item a:hover {
  opacity: 0.8;
}

.projects .project-item a::before {
  content: "";
  height: 20px;
  width: 20px;
  background: url("../assets/images/link-external.svg") no-repeat center/cover;
  top: 5px;
  left: -50px;
  position: absolute;
}

.languages {
  padding-left: 20px;
}

.languages li {
  margin-bottom: 15px;
  font-size: 20px;
  letter-spacing: 1px;
}

.languages li .underline {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}

.languages li .underline:hover {
  transform: scale(1.05);
  font-style: italic;
}

.certificate-link {
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 10px;
  padding: 3px 6px;
  background: #e6e6e6;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}

.certificate-link:hover {
  font-weight: 700;
  background: #d0d0d0;
}

.button-wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
}

.button-wrapper button {
  padding: 4px 6px;
  margin: 0 3px;
  font-size: 20px;
  border-radius: 4px;
  background: rgba(128, 128, 128, 0.5);
  color: rgba(0, 0, 0, 0.7);
}

.button-wrapper button:hover {
  color: white;
}

.button-wrapper button.active {
  font-weight: 700;
  background: grey;
}
